.md-main{
    height:0px;
}
.mdx-section{
    position:relative;
    display:block;
    width:100%;
}

.section-margins p {
    font-weight:700;margin-top:0!important;font-size:2em;line-height:normal
}

.section-margins2 p {
    font-size:1em;line-height:1.8em;margin-top:40px;margin-bottom:50px
}

.column1 {
    float: left;
    padding: 10px;
    height: 45dvh;
    min-width: 80%;
    align-content:center; 
    padding: 30px;
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color);
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.column2 {
    float: left;
    width: 20%;
    height: 45dvh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 750px) {
.column1, .column2 {
    width: 100%;
    float:none;
}
.column2 {
    width:236px;
}
}

.mdx-section-1-background{
    display:block;
    min-height: -moz-fit-content(1.1);
    min-height: fit-content(1.1);
    position: absolute;
    height:100%;
    width:100%;
    background-color: var(--md-primary-fg-color);
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    /*background:#9FA392;*/
}
.mdx-section-2-background{
    position:absolute;
    display:block;
    height: calc(45dvh + 120px);
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    background-color: var(--md-primary-bg-color);
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    
    /*background:#9FA392;*/
}

.mdx-section-1-content{
    position:relative;
    display:flex;
    flex-direction:row;
    margin: 60px;
    column-gap:0px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.section-1-button {
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color);
    font-size: .8rem;
    line-height: 1.6;
    margin-right: .5rem;
    margin-top: .5rem;
    border-width: 0;
    border: .1rem solid;
    border-radius: .1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    word-break: break-word;
    font-weight: 700;
    padding: .625em 2em;
    /*transition: color 125ms, background-color 125ms, border-color 125ms; */
}
.section-1-button:hover{
    filter: invert(100%);
}

/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext"); */


.section-2-body {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-user-select: none;
  user-select: none;
}

.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  height: 180px;
  font-size: medium;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  border: 1px solid #ffffff;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: var(--md-primary-fg-color);
  height:220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before{
    transition-delay:0.2s ;
    transform: scale(40);
}

.card:hover{
    color: #ffffff;

}

.card p{
    padding: 5px 0;
}