// ----------------------------------------------------------------------------
// Variables: breakpoints
// ----------------------------------------------------------------------------

// Device-specific breakpoints
$break-devices: (
  mobile: (
    portrait: (220px, 479px),
    landscape: (480px, 719px)
  ),
  tablet: (
    portrait: (720px, 959px),
    landscape: (960px, 1219px)
  ),
  screen: (
    small: (1220px, 1599px),
    medium: (1600px, 1999px),
    large: (2000px,) // Note: still a list
  )
);
