// ----------------------------------------------------------------------------
// Dependencies
// ----------------------------------------------------------------------------

@import "material-color";
@import "material-shadows";

// ----------------------------------------------------------------------------
// Local imports
// ----------------------------------------------------------------------------

@import "utilities/break";
@import "utilities/convert";

@import "config";

@import "main/resets";
@import "main/colors";
@import "main/icons";
@import "main/typeset";

@import "main/components/author";
@import "main/components/banner";
@import "main/components/base";
@import "main/components/clipboard";
@import "main/components/code";
@import "main/components/consent";
@import "main/components/content";
@import "main/components/dialog";
@import "main/components/feedback";
@import "main/components/footer";
@import "main/components/form";
@import "main/components/header";
@import "main/components/meta";
@import "main/components/nav";
@import "main/components/pagination";
@import "main/components/post";
@import "main/components/progress";
@import "main/components/search";
@import "main/components/select";
@import "main/components/sidebar";
@import "main/components/source";
@import "main/components/status";
@import "main/components/tabs";
@import "main/components/tag";
@import "main/components/tooltip";
@import "main/components/tooltip2";
@import "main/components/top";
@import "main/components/version";

@import "main/extensions/markdown/admonition";
@import "main/extensions/markdown/footnotes";
@import "main/extensions/markdown/toc";

@import "main/extensions/pymdownx/arithmatex";
@import "main/extensions/pymdownx/critic";
@import "main/extensions/pymdownx/details";
@import "main/extensions/pymdownx/emoji";
@import "main/extensions/pymdownx/highlight";
@import "main/extensions/pymdownx/keys";
@import "main/extensions/pymdownx/tabbed";
@import "main/extensions/pymdownx/tasklist";

@import "main/integrations/giscus";
@import "main/integrations/mermaid";

@import "main/modifiers/grid";
@import "main/modifiers/inline";
