// ----------------------------------------------------------------------------
// Dependencies
// ----------------------------------------------------------------------------

@import "material-color";

// ----------------------------------------------------------------------------
// Local imports
// ----------------------------------------------------------------------------

@import "utilities/break";
@import "utilities/convert";

@import "config";

@import "palette/scheme";
@import "palette/accent";
@import "palette/primary";
