/* Hidding content */
* {
    box-sizing: border-box;
  }
  a.md-content__button.md-icon{
    display:none;
  }
  .md-source-file{
    display:none;
  }
  article.md-content__inner.md-typeset h1{
    display:none;
  }
  /* Showing content */
  .md-content {
    display: flex !important;
  }
  h2 {
    text-decoration: underline;
  }
/* Container total
  .container-fluid {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center !important;
    margin: 0 0 0 0px !important;
    padding: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    }
  .picture{
    align-items: center;
    border: 0px solid;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: center !important;
    display: flex;
    }
  .picture-container{
    display: flex;
    flex: 3 0px;
    margin: 10px;
    }
  img#profpicbg.image-fluid {
    justify-content: center !important;
    max-height: 500px; 
    max-width: 365px;
    margin: 5px;
    border-radius: 0px !important;
    filter: brightness(0.85) contrast(1.15);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .744);
    }  */
  .row {
  flex: 1 1;
      box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 5px 10px 10px 20px;
    justify-content: space-evenly;
    flex-direction: row;
  }
    #mainp {
    padding: 5px;
    }
  .picture {
  margin: 5px;
  max-width: 100%;
  max-height: 100%
  }
  #profpicbg{
  justify-content: center !important;
  max-height:45dvh;
    width: 100%;
    max-width: 365px;
    margin: 5px;
    filter: brightness(0.85) contrast(1.15);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .744);
  }
  .about-box{
  flex-basis: 250px;
      align-items: center;
    display: flex;
    border: 0px;
    margin: 5px;
    padding: 5px;
    flex: 1 0px;
    flex-direction: column;
    flex-basis: 250px;
    justify-content: center !important;
    text-align: center;
  }
  .about-box-container{
    max-width: 350px;
    border: 3px solid var(--md-accent-bg-color);
    margin: 10px;
    box-shadow:12px 12px 2px 1px rgba(0,0,0,.744);
    }
  .about{
    color:var(--md-primary-bg-color);
    margin-top:10px !important;
    }