
@import "custom/layout/sections";
@import "custom/layout/cards";

/* Header */
.md-header {
    position: sticky;
}
.md-header--shadow {
    transition: background-color .25s,transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}
.md-header:not(.md-header--shadow) {
    transition: background-color 125ms,transform 125ms cubic-bezier(.1,.7,.1,1),box-shadow 0ms;
}

/* Remove spacing, as we cannot hide it completely */
.md-main__inner {
margin: 0;
}

/* Hide main content for now */
.md-content {
display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
.md-sidebar--secondary {
    display: none;
}
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
.md-sidebar--primary {
    display: none;
}
}

.md-typeset .md-button--secondary {
    background-color: initial
}

