// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// [print]: Hide comment section
@media print {

  // Comments headline
  [id="__comments"] {
    display: none;
  }

  // Comments integration
  .giscus {
    display: none;
  }
}
