// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Mermaid variables
:root > * {
  --md-mermaid-font-family:            var(--md-text-font-family), sans-serif;

  // General colors
  --md-mermaid-edge-color:             var(--md-code-fg-color);
  --md-mermaid-node-bg-color:          var(--md-accent-fg-color--transparent);
  --md-mermaid-node-fg-color:          var(--md-accent-fg-color);
  --md-mermaid-label-bg-color:         var(--md-default-bg-color);
  --md-mermaid-label-fg-color:         var(--md-code-fg-color);

  // Sequence diagram colors
  --md-mermaid-sequence-actor-bg-color:      var(--md-mermaid-label-bg-color);
  --md-mermaid-sequence-actor-fg-color:      var(--md-mermaid-label-fg-color);
  --md-mermaid-sequence-actor-border-color:  var(--md-mermaid-node-fg-color);
  --md-mermaid-sequence-actor-line-color:    var(--md-default-fg-color--lighter);
  --md-mermaid-sequence-actorman-bg-color:   var(--md-mermaid-label-bg-color);
  --md-mermaid-sequence-actorman-line-color: var(--md-mermaid-node-fg-color);
  --md-mermaid-sequence-box-bg-color:        var(--md-mermaid-node-bg-color);
  --md-mermaid-sequence-box-fg-color:        var(--md-mermaid-edge-color);
  --md-mermaid-sequence-label-bg-color:      var(--md-mermaid-node-bg-color);
  --md-mermaid-sequence-label-fg-color:      var(--md-mermaid-node-fg-color);
  --md-mermaid-sequence-loop-bg-color:       var(--md-mermaid-node-bg-color);
  --md-mermaid-sequence-loop-fg-color:       var(--md-mermaid-edge-color);
  --md-mermaid-sequence-loop-border-color:   var(--md-mermaid-node-fg-color);
  --md-mermaid-sequence-message-fg-color:    var(--md-mermaid-edge-color);
  --md-mermaid-sequence-message-line-color:  var(--md-mermaid-edge-color);
  --md-mermaid-sequence-note-bg-color:       var(--md-mermaid-label-bg-color);
  --md-mermaid-sequence-note-fg-color:       var(--md-mermaid-edge-color);
  --md-mermaid-sequence-note-border-color:   var(--md-mermaid-label-fg-color);
  --md-mermaid-sequence-number-bg-color:     var(--md-mermaid-node-fg-color);
  --md-mermaid-sequence-number-fg-color:     var(--md-accent-bg-color);
}

// ----------------------------------------------------------------------------

// Mermaid container
.mermaid {
  margin: 1em 0;
  line-height: normal;
}
