{% extends "main.html" %}

{% block content %}
<style>
  a.md-content__button.md-icon{
    visibility:hidden;
  }
  img#profpicbg.image-fluid {
    max-height: 500px; 
    max-width: 365px; 
    width: 100%;
    border-radius: 0px!important;
    filter: brightness(0.85) contrast(1.15);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .744);
  }
  .container-fluid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
</style>

<!-- ![Austin](../assets/images/aboutpage/profilepic.jpg) -->
<div class="container-fluid">
  <img id="profpicbg" class="image-fluid" src="../assets/images/aboutpage/profilepic.jpg" alt="Avatar">
</div>
  {{ super() }}
{% endblock %}