@use "material-color";
@use "sass:list";

// Define accent colors
@each $name, $color in (
  "red":         material-color.$clr-red-a400,
  "pink":        material-color.$clr-pink-a400,
  "purple":      material-color.$clr-purple-a200,
  "deep-purple": material-color.$clr-deep-purple-a200,
  "indigo":      material-color.$clr-indigo-a200,
  "blue":        material-color.$clr-blue-a200,
  "light-blue":  material-color.$clr-light-blue-a700,
  "cyan":        material-color.$clr-cyan-a700,
  "teal":        material-color.$clr-teal-a700,
  "green":       material-color.$clr-green-a700,
  "light-green": material-color.$clr-light-green-a700,
  "lime":        material-color.$clr-lime-a700,
  "yellow":      material-color.$clr-yellow-a700,
  "amber":       material-color.$clr-amber-a700,
  "orange":      material-color.$clr-orange-a400,
  "deep-orange": material-color.$clr-deep-orange-a200
) {

  // Color palette
  [data-md-color-accent="#{$name}"] {
    --md-accent-fg-color:              hsla(#{hex2hsl($color)}, 1);
    --md-accent-fg-color--transparent: hsla(#{hex2hsl($color)}, 0.1);

    // Inverted text for lighter shades
    @if list.index(("lime", "yellow", "amber", "orange"), $name) {
      --md-accent-bg-color:           hsla(0, 0%, 0%, 0.87);
      --md-accent-bg-color--light:    hsla(0, 0%, 0%, 0.54);
    } @else {
      --md-accent-bg-color:           hsla(0, 0%, 100%, 1);
      --md-accent-bg-color--light:    hsla(0, 0%, 100%, 0.7);
    }
  }
}
