/* Editing height between lines */

.md-typeset {
    font-size: .8rem !important;
    line-height: 1.4 !important;
}

.md-typeset ol li ol,.md-typeset ol li ul,.md-typeset ul li ol,.md-typeset ul li ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}


.md-typeset ol li,.md-typeset ul li {
    margin-bottom: 0 !important;
}

.md-tabs__link {
    font-size: px2rem(16px) !important;
    opacity: 0.8 !important;
}

.md-copyright {
    font-size: px2rem(16px) !important;
}

.md-social__link svg {
    max-height: 1rem !important