// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Code blocks
.md-code {

  // Code block content - when line spans are enabled, we can opt into using
  // grid-based rendering, which makes highlighted lines stretch.
  .md-typeset &__content {
    display: grid;
  }
}
