:host(:not(.device-mobile-optimized)) .V5AUxf,[data-preview~=host] .V5AUxf,body: not(.device-mobile-optimized) .V5AUxf {
    -moz-column-gap:var(--margin);
    column-gap: var(--margin);
    display: flex;
    flex-direction: var(--items-direction);
    margin: 0 auto;
    position: relative;
    width: calc(100% - var(--padding)*2)
}
:host(:not(.device-mobile-optimized)) .V5AUxf>*,[data-preview~=host] .V5AUxf>*,body: not(.device-mobile-optimized) .V5AUxf>* {
    flex:var(--column-flex) 1 0%;
    left: 0;
    margin-bottom: var(--padding);
    margin-top: var(--padding);
    min-width: 0;
    position: relative;
    top: 0
}

:host(.device-mobile-optimized) .V5AUxf,[data-preview~=host] .V5AUxf,body.device-mobile-optimized .V5AUxf {
    display: block;
    padding: var(--padding) 0;
    position: relative
}

:host(.device-mobile-optimized) .V5AUxf>*,[data-preview~=host] .V5AUxf>*,body.device-mobile-optimized .V5AUxf>* {
    margin-bottom: var(--margin);
    position: relative
}

:host(.device-mobile-optimized) .V5AUxf>:first-child,[data-preview~=host] .V5AUxf>[data-preview~=first-child],body.device-mobile-optimized .V5AUxf>: first-child,body.device-mobile-optimized .V5AUxf>[data-preview~=first-child] {
    margin-top:var(--firstChildMarginTop,0)
}

:host(.device-mobile-optimized) .V5AUxf>:last-child,[data-preview~=host] .V5AUxf>[data-preview~=last-child],body.device-mobile-optimized .V5AUxf>: last-child,body.device-mobile-optimized .V5AUxf>[data-preview~=last-child] {
    margin-bottom:var(--lastChildMarginBottom)
}
