#BACKGROUND_GROUP {
    --transition-duration: 700ms;
}
#comp-j9qv2osz {
    --menuTotalBordersY: 0px;
    --menuTotalBordersX: 0px;
}
#comp-issrip5i {
    --item-size: 22px;
    --item-margin: 0px 8px 0px 0px;
    --item-display: inline-block;
    width: 82px;
    height: 22px;
}
#comp-jxivcl2u {
    justify-content: flex-end;
    direction: ltr;
    --icon-size: 26px;
    --fnt: normal normal normal 16px/1.4em montserrat, sans-serif;
    --avatarAndArrowStrokeWidth: 0px;
}
#comp-isuac69p {
    height: var(--height);
    --height: 24px;
}
#comp-isu9hk0v {
    height: var(--height);
    --height: 24px;
}
#comp-jdx0k91h {
    height: var(--height);
    --height: 19px;
}
#comp-jdx0me2u {
    --min-height: 40px;
    height: var(--height);
    --height: 48px;
}
#comp-jxcy99az {
    --fnt: normal normal normal 16px/1.4em montserrat, sans-serif;
    --fntlbl: normal normal normal 16px/1.4em montserrat, sans-serif;
    --direction: inherit;
    --align: start;
    --labelDirection: inherit;
    --inputDirection: inherit;
    --errorDirection: inherit;
    --requiredIndicationDisplay: inline;
    --labelMarginBottom: 9px;
    --textPadding: 3px;
    --textPadding_start: 12px;
    --textPadding_end: 3px;
    --labelPadding_start: 0px;
    --labelPadding_end: 20px;
    height: var(--height);
    --inputHeight: 30px;
    --height: 30px;
}
#comp-jxcy99b6 {
    --fnt: normal normal normal 16px/1.4em montserrat, sans-serif;
    --fntlbl: normal normal normal 16px/1.4em montserrat, sans-serif;
    --direction: inherit;
    --align: start;
    --labelDirection: inherit;
    --inputDirection: inherit;
    --errorDirection: inherit;
    --requiredIndicationDisplay: inline;
    --labelMarginBottom: 9px;
    --textPadding: 3px;
    --textPadding_start: 12px;
    --textPadding_end: 3px;
    --labelPadding_start: 0px;
    --labelPadding_end: 20px;
    height: var(--height);
    --inputHeight: 30px;
    --height: 30px;
}
#comp-jxcy99bb {
    --fntlbl: undefined;
    --fnt: undefined;
    --direction: inherit;
    --labelDirection: inherit;
    --inputDirection: inherit;
    --errorDirection: inherit;
    --align: start;
    --textPaddingTop: 3px;
    --textPaddingStart: 16px;
    --textPaddingEnd: 10px;
    --labelMarginBottom: 9px;
    --requiredIndicationDisplay: inline;
    --labelPadding_start: 0px;
    --labelPadding_end: 20px;
    height: auto;
    --inputHeight: 148px;
}
#comp-jxcy99bh {
    --shc-mutated-brightness: 18, 14, 30;
    --margin-start: 0px;
    --margin-end: 0px;
    --fnt: normal normal normal 14px/1.4em montserrat, sans-serif;
    direction: undefined;
    --label-align: center;
    --label-text-align: center;
}
#comp-jxcy99bp {
    height: var(--height);
    --height: 19px;
}
#comp-jdwrny0q {
    height: var(--height);
    --height: 24px;
}
#comp-je2t7ia3 {
    height: var(--height);
    --height: 48px;
}
#comp-je2t7rke {
    height: var(--height);
    --height: 48px;
}
#comp-je2t81s6 {
    height: var(--height);
    --height: 48px;
}
#WRchTxt0-16wb {
    height: var(--height);
    --height: 18px;
}
#comp-jxivcldm {
    --item-height: 40px;
    --item-align: left;
    --text-align: flex-start;
    --sub-menu-open-direction-right: auto;
    --sub-menu-open-direction-left: 0;
    --separator-height-adjusted: 0px;
}
#comp-jdx1c86g {
    transform-origin: center 0.5px;
}
#SITE_HEADER {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --shc-mutated-brightness: 18, 14, 30;
    position: fixed !important;
    margin-top: var(--wix-ads-height);
    top: 0;
}
#SOSP_CONTAINER_CUSTOM_ID {
    --shc-mutated-brightness: 18, 14, 30;
}
#SITE_PAGES {
    --transition-duration: 700ms;
}
#SITE_FOOTER {
    --shc-mutated-brightness: 128, 128, 128;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}
#comp-jbyuuip1 {
    height: var(--height);
    --height: 19px;
}
#comp-j9sasm8t {
    --shc-mutated-brightness: 128, 128, 128;
    --margin-start: 0px;
    --margin-end: 0px;
    --fnt: normal normal normal 15px/1.4em georgia, palatino, "book antiqua", "palatino linotype", serif;
    direction: undefined;
    --label-align: center;
    --label-text-align: center;
}
#comp-j9sasm92 {
    --min-height: 196px;
    height: var(--height);
    --height: 196px;
}
#comp-j9sasm8v {
    --height: 544px;
    --width: 395px;
}
#comp-j9sar5og {
    height: var(--height);
    --height: 39px;
}
#comp-j9sar5oh {
    transform-origin: center 1px;
}
#comp-j9saukut {
    height: var(--height);
    --height: 56px;
}
#comp-j9saukuw {
    transform-origin: center 1px;
}
#comp-j9sar5p2 {
    --min-height: 163px;
    height: var(--height);
    --height: 163px;
}
#comp-j9sar5p4 {
    transform-origin: center 0.5px;
}
#comp-j9sar5p6 {
    height: var(--height);
    --height: 47px;
}
#comp-j9sar5pd {
    height: var(--height);
    --height: 140px;
}
#comp-j9sar5pf {
    transform-origin: center 0.5px;
}
#comp-j9sar5pg {
    height: var(--height);
    --height: 48px;
}
#comp-j9sar5pn {
    height: var(--height);
    --height: 140px;
}
#comp-j9sar5pp {
    transform-origin: center 0.5px;
}
#comp-j9sar5pr {
    height: var(--height);
    --height: 48px;
}
#pageBackground_zythy {
    --bg-position: absolute;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
}
#comp-lt8u139b {
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    min-width: 980px;
}
#comp-j9sar5p0 {
    --shc-mutated-brightness: 128, 126, 118;
}
#comp-j9sar5p8 {
    position: absolute;
    width: 100%;
    height: 100%;
    --fill-layer-image-opacity: 0;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}
#comp-j9sar5pb {
    --shc-mutated-brightness: 128, 126, 118;
}
#comp-j9sar5pj {
    position: absolute;
    width: 100%;
    height: 100%;
    --fill-layer-image-opacity: 0;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}
#comp-j9sar5pm {
    --shc-mutated-brightness: 128, 126, 118;
}
#comp-j9sauksx {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --items-direction: row;
}
#comp-j9sasm8m {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --items-direction: row;
}
#comp-lt8u139c1 {
    --bg-overlay-color: rgb(var(--color_43));
    --bg-gradient: none;
    min-width: 980px;
}
#zythy {
    width: auto;
    min-height: 40px;
}
#comp-j9sasm8n1 {
    --bg-overlay-color: rgb(var(--color_37));
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980;
}
#comp-j9saukur {
    --bg-overlay-color: rgb(var(--color_37));
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980;
}
#comp-j9sar5oy {
    position: absolute;
    width: 100%;
    height: 100%;
    --fill-layer-image-opacity: 0;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}
#comp-j9sar5lr {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --items-direction: row;
}
#comp-j9sar5lr1 {
    height: 494px;
    --nav-dot-section-display: block;
    --nav-dot-section-bottom-margin: 50px;
    --nav-dot-margin: 6px;
    --nav-dot-size: 6px;
    --nav-dot-size-selected: 6px;
    --nav-button-width: 18px;
    --nav-button-offset: 100px;
    --nav-button-display: block;
    --slides-overflow: hidden;
    --transition-duration: 1000ms;
}
#comp-j9sar5oe {
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980;
}
#comp-lunq2kv2 {
    height: var(--height);
    --height: 66px;
}
#comp-lunq2kvg1 {
    height: var(--height);
    --height: 30px;
}
#comp-lunq2kvj1 {
    --min-height: 57px;
    height: var(--height);
    --height: 97px;
}
#comp-lunq2kvm {
    --item-size: 24px;
    --item-margin: 0px 7px 0px 0px;
    --item-display: inline-block;
    width: 117px;
    height: 24px;
}
#comp-lunq2kt8 {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    min-width: 980px;
}
#comp-lunq2kua {
    --bg-overlay-color: rgba(var(--color_12), 0.8);
    --bg-gradient: none;
    --padding: 60px;
    --margin: 0px;
    min-width: 980px;
    --items-direction: row;
}
#comp-lunq2kuy {
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    width: 100%;
    --column-width: 579px;
    --column-flex: 579;
}
#comp-lunq2kw81 {
    --fill-layer-image-opacity: 1;
    --bg-overlay-color: rgb(var(--color_12));
    --bg-gradient: none;
    width: 100%;
    --column-width: 281px;
    --column-flex: 281;
}

#comp-kemktod3 {
    visibility: hidden;
}
