#SITE_FOOTER {
    --bg: var(--color_37);
    --shd: none;
    --brwt: 0px;
    --brd: var(--color_39);
    --brwb: 0px;
    --bgctr: var(--color_37);
    --rd: 0px;
    --alpha-bg: 1;
    --alpha-bgctr: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
}
#SITE_FOOTER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}
[data-mesh-id="SITE_FOOTERinlineContent"] {
    height: auto;
    width: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(8, min-content) 1fr;
    grid-template-columns: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-isuac69p"] {
    position: relative;
    margin: 126px 0px 46px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-isu9hk0v"] {
    position: relative;
    margin: 0px 0px 5px calc((100% - 980px) * 0.5);
    left: 166px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jdx0k91h"] {
    position: relative;
    margin: 0px 0px 55px calc((100% - 980px) * 0.5);
    left: 166px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jdx1dppo"] {
    position: relative;
    margin: 0px 0px 54px calc((100% - 980px) * 0.5);
    left: 487px;
    grid-area: 2 / 1 / 6 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jdx0me2u"] {
    position: relative;
    margin: 1px 0px 54px calc((100% - 980px) * 0.5);
    left: 592px;
    grid-area: 2 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jxcy88ru"] {
    position: relative;
    margin: 0px 0px 17px calc((100% - 980px) * 0.5);
    left: 149px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jdwrny0q"] {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 159px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-je2t7ia3"] {
    position: relative;
    margin: 0px 0px 52px calc((100% - 980px) * 0.5);
    left: 245px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-je2t7rke"] {
    position: relative;
    margin: 0px 0px 52px calc((100% - 980px) * 0.5);
    left: 487px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-je2t81s6"] {
    position: relative;
    margin: 0px 0px 52px calc((100% - 980px) * 0.5);
    left: 671px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jdx1c86g"] {
    position: relative;
    margin: 0px 0 28px 0;
    left: 0;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: stretch;
    align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="WRchTxt0-16wb"] {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 135px;
    grid-area: 9 / 1 / 10 / 2;
    justify-self: start;
    align-self: start;
}
